@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display:flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 48px;
    width:100%;
    height:150px;
    align-items: center;
    border:#1F2937;
    border-width: thick;
    justify-content: space-between;
}

.center {
    display:flex;
    /* padding-left: 0px;
    padding-right: 400px; */
    width:100%;
    align-items:stretch;    
    flex-direction: column;
    justify-content: stretch;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    width:100%;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo {
    display:flex;
    font-size:'24px';
    color: #f9faf8;
    padding-left: 200px;
    padding-top:50px;
    padding-bottom:50px;
    font-weight:bold;
}

.links {
    display: flex;
    flex-direction: row;
}

ul {
    display:flex;
    flex-direction: row;
    padding-right: 200px;
    gap: 48px;
    list-style-type: none;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.intro {
    display:flex;
    width:100%;
    height:600px;
    background-color: #1F2937;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-left: 200px;
    padding-right: 200px; */
    justify-content: space-evenly;
}


.about-me {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hey-there {
    font-size: 100px;
    color: #F9FAF8;
    font-weight:bold;
    margin:15px;
    text-align: center;
}

.bio {
    display:flex;
    font-size: 20px;
    color: #F9FAF8;
    flex-wrap: wrap;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #3882f6;
    width: 200px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    border: none;
}

button:active {
    background-color: #91b8f7;
}

.images {
    display:flex;
    width:100%;
    height:600px;
    flex-direction: column;
}

.image-header {
    display:flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    margin:50px;
}

.image-list {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
}

.image-item {
    margin: 25px;
}

.image {
    width: 250px;
    height: 250px;
    border:#3882f6;
    border-radius: 5px;
}

.caption {
    text-align: center;
    margin:0;
}

.quote-block {
    display:flex;
    background-color: #E5E7EB;
    width:100%;
    height:600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    /* padding-left: 100px;
    padding-right: 100px; */
    flex-wrap: wrap;
    font-size:48px;
    color:#1F2937;
    font-weight:900px;
    font-style:italic;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.quotee {
    display: flex;
    font-size: 24px;
    align-self: flex-end;
    padding-right: 750px;
    font-weight: bolder;
}

.sign-up {
    display: flex;
    width:100%;
    height:600px;
    justify-content: center;
    align-items: center;
}

.sign-up-section {
    display:flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 1500px;
    height: 250px;
    border-radius: 20px;
    justify-content:space-evenly;
    align-items: center;
}

.top-down {
    display:flex;
    flex-direction: column;
}

.call-to-action {
    color:#F9FAF8;
    font-weight:bold;
    font-size: 36px;
}

.sign-up-message {
    color: #F9FAF8;
    max-width: 500px;
    margin-top:10px;
}

.sign-up-button {
    width: 150px;
    height: 50px;
    border-radius:10px;
    background-color: #3882f6;
    border-color: #E5E7EB;
    border-style: solid;
}